{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Good morning,</span>
      <h1 class="govuk-heading-l">
        Peter
      </h1>

      <h2 class="govuk-heading-m">Summary</h2>

<ul class="homepage-most-viewed-list">
<li class="homepage-most-viewed-list__item">
      <span class="gem-c-action-link__icon" hidden="">
        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true" viewBox="0 0 27 27" class="gem-c-action-link__svg">
          <circle class="gem-c-action-link__icon__circle" cx="13.5" cy="13.5" r="13.5"></circle>
          <g class="gem-c-action-link__icon__arrow">
            <path d="m17.701 13.526-3.827-3.828L14.973 8.6l4.926 4.926-4.926 4.926-1.099-1.099 3.827-3.827Z"></path>
            <path d="M8.363 12.749h9.762v1.554H8.363v-1.554Z"></path>
          </g>
        </svg>
      </span>
    <span class="gem-c-action-link__link-wrapper">
        <a class="govuk-link govuk-link--no-visited-state" href="/">Messages</a>
        <p>No new messages</p>
    </span>

            </li>

    <li class="homepage-most-viewed-list__item">
      <span class="gem-c-action-link__icon" hidden="">
        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true" viewBox="0 0 27 27" class="gem-c-action-link__svg">
          <circle class="gem-c-action-link__icon__circle" cx="13.5" cy="13.5" r="13.5"></circle>
          <g class="gem-c-action-link__icon__arrow">
            <path d="m17.701 13.526-3.827-3.828L14.973 8.6l4.926 4.926-4.926 4.926-1.099-1.099 3.827-3.827Z"></path>
            <path d="M8.363 12.749h9.762v1.554H8.363v-1.554Z"></path>
          </g>
        </svg>
      </span>
    <span class="gem-c-action-link__link-wrapper">
        <a class="govuk-link govuk-link--no-visited-state" href="/">Payments</a>
        <p>You will be paid £880 on 1 November 2026</p>
    </span>

            </li>

            <li class="homepage-most-viewed-list__item">
      <span class="gem-c-action-link__icon" hidden="">
        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true" viewBox="0 0 27 27" class="gem-c-action-link__svg">
          <circle class="gem-c-action-link__icon__circle" cx="13.5" cy="13.5" r="13.5"></circle>
          <g class="gem-c-action-link__icon__arrow">
            <path d="m17.701 13.526-3.827-3.828L14.973 8.6l4.926 4.926-4.926 4.926-1.099-1.099 3.827-3.827Z"></path>
            <path d="M8.363 12.749h9.762v1.554H8.363v-1.554Z"></path>
          </g>
        </svg>
      </span>
    <span class="gem-c-action-link__link-wrapper">
        <a class="govuk-link govuk-link--no-visited-state" href="/">To-do list</a>
        <p>No outstanding actions</p>
    </span>

            </li>

             <li class="homepage-most-viewed-list__item">
      <span class="gem-c-action-link__icon" hidden="">
        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true" viewBox="0 0 27 27" class="gem-c-action-link__svg">
          <circle class="gem-c-action-link__icon__circle" cx="13.5" cy="13.5" r="13.5"></circle>
          <g class="gem-c-action-link__icon__arrow">
            <path d="m17.701 13.526-3.827-3.828L14.973 8.6l4.926 4.926-4.926 4.926-1.099-1.099 3.827-3.827Z"></path>
            <path d="M8.363 12.749h9.762v1.554H8.363v-1.554Z"></path>
          </g>
        </svg>
      </span>
    <span class="gem-c-action-link__link-wrapper">
        <a class="govuk-link govuk-link--no-visited-state" href="/">Appointments</a>
        <p>No booked appointments</p>
    </span>

            </li>
        </ul>

    <div class="border-top-blue-from-desktop">



    <h2 class="govuk-heading-m" style="margin-top: 30px;">Using your account</h2>




      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link govuk-link--no-visited-state" href="/">Tell us about a change</a>
            </h3>              
            <p class="govuk-body gem-c-cards__description">Examples include your work situation, health or relationships.</p>
          </div>
        </li>

         <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link govuk-link--no-visited-state" href="/">Your accessibility needs</a>
            </h3>              
            <p class="govuk-body gem-c-cards__description">Tell us if you need help with home visits or appointments.</p>
          </div>
        </li>

        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link govuk-link--no-visited-state" href="/">How we contact you</a>
            </h3>              
            <p class="govuk-body gem-c-cards__description">Update your notification preferences, including any alternative formats you need.</p>
          </div>
        </li>

        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link govuk-link--no-visited-state" href="/">How to use your online account</a>
            </h3>              
            <p class="govuk-body gem-c-cards__description">Find out how to use your online account and keep your details up to date.</p>
          </div>
        </li>

         <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link govuk-link--no-visited-state" href="/">Family or carer's access</a>
            </h3>              
            <p class="govuk-body gem-c-cards__description">Help family members and people you care for, or allow trusted people to help you.</p>
          </div>
        </li>
     
  
</ul>

    
  </div>

    </div>

    <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
        
<section class="homepage-section homepage-section--promotion-slots">
  <div class="homepage-section__heading">
    <div class="homepage-section__heading-wrapper">
      
<div class="gem-c-heading govuk-!-margin-bottom-6">

  <h2 class="gem-c-heading__text govuk-heading-l">
    Explore support
</h2></div>
    </div>
  </div>

      <div class="gem-c-image-card gem-c-image-card--two-thirds">
    <div class="gem-c-image-card__text-wrapper">
      

        <h3 class="gem-c-image-card__title govuk-heading-s">
            <a class="gem-c-image-card__title-link govuk-link gem-print-force-link-styles gem-c-image-card__title-link--large-font-size-mobile" href="/find-a-job">Check what you can get</a>
</h3>
      <div class="gem-c-image-card__description gem-c-image-card__description--large-font-size-mobile">You might be entitled to benefits or help.</div>

</div>    <figure class="gem-c-image-card__image-wrapper"><img class="gem-c-image-card__image" alt="" loading="lazy" height="90" width="90" src="/piggybankbox.png"></figure>
</div>
      <div class="gem-c-image-card gem-c-image-card--two-thirds">
    <div class="gem-c-image-card__text-wrapper">
      

        
</section>
      </div>
  </div>

{% endblock %}
